@model AddArticleViewModel

<h2>Makale Oluştur</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">@ViewBag.ErrorMessage</div>
}

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="File" class="control-label"></label>
        <input type="file" asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SelectedTagIds" class="control-label">Etiket Seçiniz</label>
        <select asp-for="SelectedTagIds" class="form-control" multiple>
            @foreach (var tag in Model.AllTags)
            {
                <option value="@tag.Id">@tag.Name</option>
            }
        </select>
        <span asp-validation-for="SelectedTagIds" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
<a asp-action="Index" asp-controller="Article" class="btn btn-secondary">Geri Dön</a>
