@{
    ViewBag.Title = "Erişim Engellendi";
}

<h2>Erişim Engellendi</h2>
<p>Bu sayfaya erişim yetkiniz yok.</p>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ana Sayfaya Dön</a>
