@model ProfileViewModel

<h2>Profil Düzenle</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}


<form asp-action="Profile" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />

        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" id="ProfileEmail" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfileImage" class="control-label"></label>
        <input type="file" asp-for="ProfileImage" class="form-control" />
        @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
        {
            <input type="hidden" asp-for="ProfileImageUrl" />
            <div class="mt-2">
                <img src="@Url.Content("~/images/profiles/" + Model.ProfileImageUrl)" alt="Profile Image" style="max-width: 50px; border-radius: 50%;">


            </div>
        }
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Kaydet" class="btn btn-primary" />
    </div>
</form>
<a asp-action="Index" asp-controller="Home" class="btn btn-secondary mt-2">Geri Dön</a>
